# Visual Studio 2015/2017 cache/options directory
.vs/

# Build results
OOPStudy/[Dd]ebug/
OOPStudy/[Dd]ebugPublic/
OOPStudy/[Rr]elease/
OOPStudy/[Rr]eleases/
OOPStudy/x64/
OOPStudy/x86/
OOPStudy/[Aa][Rr][Mm]/
OOPStudy/[Aa][Rr][Mm]64/
OOPStudy/bld/
OOPStudy/bin/
OOPStudy/[Oo]bj/
OOPStudy/[Ll]og/
OOPStudy/[Ll]ogs/
DesignPatterns/[Dd]ebug/
DesignPatterns/[Dd]ebugPublic/
DesignPatterns/[Rr]elease/
DesignPatterns/[Rr]eleases/
DesignPatterns/x64/
DesignPatterns/x86/
DesignPatterns/[Aa][Rr][Mm]/
DesignPatterns/[Aa][Rr][Mm]64/
DesignPatterns/bld/
DesignPatterns/bin/
DesignPatterns/[Oo]bj/
DesignPatterns/[Ll]og/
DesignPatterns/[Ll]ogs/